@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.button5 {
  min-width: 11rem;
  height: 3rem;
  border-radius: 3rem;
  color: white;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

.border-gradient {
  --c: #171717;
  --p: 10%;
  background: linear-gradient(var(--c), var(--c)) padding-box,
    conic-gradient(
        from var(--gradient-angle, 0deg),
        transparent,
        white var(--p),
        transparent calc(var(--p) * 2)
      )
      border-box;
  border: 1px solid transparent;
}